section.jumbotron.text-center.v-hero
	div.container#v-jumbotron-container
		h2.jumbotron-heading(style="color:#fff;font-family: 'Mansalva', cursive;") <b> EXPERT WEB DEVELOPER AND SCRIPTING UTILITIES . . . </b>
		p.lead(style="color:#fff;font-family: 'Montserrat Alternates', sans-serif;") Hardworker, responsible, consistent and enjoys working in a team.