#customModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='customModal', aria-hidden='true')
	.modal-dialog(role='document')
		.modal-content
			.modal-header
				h5#customModal.modal-title Modal title
				button.close.closeModal(type='button' data-dismiss='modal' aria-label='Close')
					span(aria-hidden='true') &times;
			.modal-body
				//- Modal Body
			.modal-footer
				button.btn.btn-secondary(type='button' data-dismiss='modal') Close
				button.btn.btn-primary(type='button', id="saveButton") <i class="fa fa-save"></i> Save
