doctype html
html(lang="en")
	head

		title #{title}
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(name='description', content='I Love NodeJS')
		meta(name='author', content='Qudrat Nurfajar Yasin Sutisna')

		<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|PT+Serif:400,700" rel="stylesheet">
		<link rel="stylesheet" href="/assets/font/fontawesome.css">
		<link rel="stylesheet" href="/assets/font/ionicons.css">
		<link rel="stylesheet" href="/assets/css/bootstrap.css">
		<link rel="stylesheet" href="/assets/css/dashboard.css">
		<link rel="stylesheet" href="/assets/css/theme-corporate.css">
		<link rel="stylesheet" href="/assets/css/colors.css">
		<link rel="stylesheet" href="/assets/css/uikit.css">
		<link rel="stylesheet" href="/assets/css/demo.css">
		<link rel="stylesheet" href="/assets/css/custom.admin.css">
		<script src="/assets/js/polyfills.js"></script>
		<script>document['documentMode']===10&&document.write('<script src="https://polyfill.io/v3/polyfill.min.js?features=Intl.~locale.en"><\/script>')</script>
		<script src="/assets/js/layout-helpers.js"></script>
		<script src="/assets/js/pace.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link rel="stylesheet" href="/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
		<link href="/assets/vendors/native-toast-master/toast.css" rel="stylesheet">

		block styles
	body
		.wrapper

			include ../includes/dashboards/sidebar

			#customContent

				include ../includes/dashboards/navbar

				block breadcrumb
				block content

		include ../includes/modal
		include ../includes/js

		script.

			jQuery("#sidebarCollapse").on("click", function() {
				jQuery("#sidebar").toggleClass("active");
				jQuery(this).toggleClass("active");
			});

			/*
			* Vex Options
			*/
			vex.defaultOptions.className = 'vex-theme-default';

			/*
			* API URL Variable
			*/
			var ApiURL = "#{process.env.API_URL}";

			/*
			* Dashboard Url
			*/
			var dashboardURL = "#{process.env.APP_URL}/dashboard";

			/*
			* Show Alert From Toast
			*/
			function showToastAlert(params) {
				if(!params.error) {
					toastr.success(params.message)
				} else {
					toastr.error(params.message)
				}
			}

			/*
			* Overide Modal Type
			*/
			function modalType(param = 'modal-xs') {
				jQuery('.modal-dialog').attr('class','modal-dialog ' + param);
			}

			/*
			* Overide Modal Content With Loader
			*/
			function modalLoading() {
				jQuery('#modal-body').html(`
					<div class="row">
						<div class="col-lg-12">
							<center>
								<img src="/assets/img/loading.gif" style="width:20%;"><br>
							</center>
						</div>
					</div>
				`);
			}

			/*
			* Overide Modal Title
			*/
			function modalTitle(param) {
				jQuery('.modal-title').html(param);
			}

			/*
			* Overide Modal Content
			*/
			function modalContent(param) {
				jQuery('#modal-body').html(param);
			}

			/*
			* Show Modal
			*/
			function showModal() {
				jQuery('#customModal').modal({
					show : true,
					backdrop : 'static',
					keyboard : false,
					focus : true
				});
			}

			/*
			* Hide Modal
			*/
			function hideModal() {
				jQuery('.closeModal').trigger('click');
			}

			/*
			* Logout Function
			*/
			function logout() {
				jQuery.get(ApiURL + '/logout', function(response) {
					window.location.replace('/login');
				});
			}

		block scripts
