doctype html
html(lang="en")
	head
		title #{title}
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(name='description', content='I Love NodeJS')
		meta(name='author', content='Qudrat Nurfajar Yasin Sutisna')
		include ../includes/css
		block styles
	body
		.wrapper

			include ../includes/dashboards/sidebar

			#customContent

				include ../includes/dashboards/navbar

				block breadcrumb
				block content

		include ../includes/modal
		include ../includes/js

		script.

			jQuery("#sidebarCollapse").on("click", function() {
				jQuery("#sidebar").toggleClass("active");
				jQuery(this).toggleClass("active");
			});

			/*
			* Vex Options
			*/
			vex.defaultOptions.className = 'vex-theme-default';

			/*
			* API URL Variable
			*/
			var ApiURL = "#{process.env.API_URL}";

			/*
			* Dashboard Url
			*/
			var dashboardURL = "#{process.env.APP_URL}/dashboard";

			/*
			* Show Alert From Toast
			*/
			function showToastAlert(params) {
				if(!params.error) {
					toastr.success(params.message)
				} else {
					toastr.error(params.message)
				}
			}

			/*
			* Overide Modal Type
			*/
			function modalType(param = 'modal-xs') {
				jQuery('.modal-dialog').attr('class','modal-dialog ' + param);
			}

			/*
			* Overide Modal Content With Loader
			*/
			function modalLoading() {
				jQuery('#modal-body').html(`
					<div class="row">
						<div class="col-lg-12">
							<center>
								<img src="/assets/img/loading.gif" style="width:20%;"><br>
							</center>
						</div>
					</div>
				`);
			}

			/*
			* Overide Modal Title
			*/
			function modalTitle(param) {
				jQuery('.modal-title').html(param);
			}

			/*
			* Overide Modal Content
			*/
			function modalContent(param) {
				jQuery('#modal-body').html(param);
			}

			/*
			* Show Modal
			*/
			function showModal() {
				jQuery('#customModal').modal({
					show : true,
					backdrop : 'static',
					keyboard : false,
					focus : true
				});
			}

			/*
			* Hide Modal
			*/
			function hideModal() {
				jQuery('.closeModal').trigger('click');
			}

			/*
			* Logout Function
			*/
			function logout() {
				jQuery.get(ApiURL + '/logout', function(response) {
					if(response.error == 0) {
						location.replace('/login');
					}
				});
			}

		block scripts
