nav.navbar.sticky-top.navbar-expand-md
	div.navbar-header
		button#sidebarCollapse.navbar-btn(type='button')
			span
			span
			span
	div.collapse.navbar-collapse#MainNavbar
		ul.navbar-nav.mr-auto
		ul.nav.navbar-nav.navbar-right
			li(style="margin-right:20px;")
				a(href="javascript:void(0)") <center> <i class="fas fa-envelope"></i></center>
			li(style="margin-right:20px;")
				a(href="javascript:void(0)") <center> <i class="fas fa-user"></i></center>
			li(style="margin-right:20px;")
				a(href="javascript:void(0)", onclick="logout()") <center> <i class="fas fa-sign-out-alt"></i></center>