nav#sidebar
	.sidebar-header
		img(src="/assets/img/logo.png",style="width:150px;height:50px;margin-left:20px;")
	ul.list-unstyled.components
		//- li.active
		//- 	a(href='#homeSubmenu' data-toggle='collapse' aria-expanded='false') Home
		//- 	ul#homeSubmenu.collapse.list-unstyled
		//- 		li
		//- 			a(href='#') Home 1
		//- 		li
		//- 			a(href='#') Home 2
		//- 		li
		//- 			a(href='#') Home 3
		li
			a(href="/dashboard") <i class="fa fa-home"></i> Dashboard
		li
			a(href="/dashboard/articles") <i class="fa fa-edit"></i> Articles
		li
			a(href="/dashboard/users") <i class="fa fa-edit"></i> Users
