extends ../../layouts/layout_adminpanel

block styles
	include ../../includes/datatables-css

block breadcrumb
	ol.breadcrumb
		li.breadcrumb-item
			a(href="/dashboard") Dashboard
		li.breadcrumb-item.active.
			Articles

block content
	div.row
		div.col-lg-12
			a(href="articles/create", class="btn btn-primary").
				+ Create
			br
			br
		div.col-lg-12
			table#DataTable.table.table-condensed.table-hover
				thead
					tr
						td.text-center(style="width:20%;") User
						td.text-center(style="width:20%;") Category
						td.text-center(style="width:20%;") Title
						td.text-center(style="width:20%;") Image
				tbody

block scripts

	include ../../includes/datatables-js

	script.

		jQuery('#DataTable').DataTable({
			ordering : false,
			processing : false,
			searching : false,
			serverSide : true,
			buttons : [
			],
			columns : [
				{
					data : 'userId',
					name : 'userId'
				},
				{
					data : 'categoryId',
					name : 'categoryId'
				},
				{
					data : 'title',
					name : 'title'
				},
				{
					data : function(data) {
						return `
							<img src="#{process.env.APP_URL}/assets/img/blogs/`+ data.image +`" style="width:100px;height:100px;">
						`;
					},
					className : 'text-center',
					name : 'image'
				},
			],
			ajax : {
				url : ApiURL + "/articles"
			}
		});